.graph, .control {
	width: 60%;
}
.control {
	float: left;
}
input {
	display: inline-block;	
}
button {
	height: 2em;
	font-size: 1.4em;
	border-radius: 25px;
	background: blue;
	color: yellow;
}
button:hover {
	background: yellow;
	color: blue;
}
p {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}